SECRET_KEY=your_secret_key
ADMIN_KEY=your_admin_key
DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CH_HOMEWORK=
DISCORD_CH_AI=
DISCORD_CH_SYSTEM=
DISCORD_CH_EXAM=
DISCORD_USER_ID=
DEEPSEEK_API_KEY=
PORT=8081
BIND_HOST=0.0.0.0
DAILY_REMINDER_TIME=07:30
CYCLE_START_DATE=2025-09-01
CYCLE_START_DAY=1
ESP8266_IP=192.168.1.100
